[[constraint]]
 branch = "master"
 name = "github.com/golang/glog"

[[override]]
 name = "k8s.io/apimachinery"
 version = "kubernetes-1.10.0"

[[override]]
 name = "k8s.io/client-go"
 version = "7.0.0"

[prune]
 go-tests = true
 unused-packages = true